<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册学生信息</title>
    <script type="text/javascript" src="{{ url_for('static',filename='alert_msg.js') }}"></script>
</head>
<body onload="alert_msg()">
<form method="post" action="{{ url_for('register_student') }}">
    <input type="text" name="id">学生id<br>
    <input type="text" name="password">学生密码<br>
    <input type="text" name="name">学生姓名<br>
    <input type="submit">
</form>
<a href="{{ url_for('logout') }}">登出</a>
<p id="msg">
    {% for msg in get_flashed_messages() %}
    {{ msg }}
    {% endfor %}
</p>
</body>
</html>